<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:db.properties"/>


    <bean id="springDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="Url" value="${db.url}" />
    </bean>

    <bean id="hicariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="jdbcUrl" value="${db.url}" />
    </bean>

    <bean id="hicariDataSource" class="com.zaxxer.hikari.HikariDataSource">
        <constructor-arg ref="hicariConfig" />
    </bean>

<!--    <bean id="uRepJdbcImpl" class="school21.spring.service.repositories.UsersRepositoryJdbcImpl">-->
<!--        <constructor-arg ref="hicariDataSource" />-->
<!--    </bean>-->

<!--    <bean id="uRepJdbcTemplImpl" class="school21.spring.service.repositories.UsersRepositoryJdbcTemplateImpl">-->
<!--        <constructor-arg ref="springDataSource" />-->
<!--    </bean>-->


</beans>